[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zpaulo80
[access "refs/for/refs/*"]
	read = group user/zpaulo80
	push = group user/zpaulo80
	label-Code-Review = -2..+2 group user/zpaulo80
	label-Verified = -1..+1 group user/zpaulo80
	rebase = group user/zpaulo80
	removeReviewer = group user/zpaulo80
	submit = group user/zpaulo80
[access "refs/heads/*"]
	read = group user/zpaulo80
	create = group user/zpaulo80
	push = +force group user/zpaulo80
	pushMerge = group user/zpaulo80
[access "refs/tags/*"]
	push = +force group user/zpaulo80
	pushTag = group user/zpaulo80
	pushSignedTag = group user/zpaulo80
